*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.9rem
  }
  html::-webkit-scrollbar-track {
    background: rgb(64, 66, 63) ;
  }
  html::-webkit-scrollbar-thumb {
    background: #f5f6f8;
  }
nav{
    position: absolute;
    top: 20px;
    height: 70px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 0px;
}
.list{
    display: inline;
    margin-top: 15px;
}
/* .name>p{
    display: inline;
    margin-top: 60px !important;
    text-align: center;
    transition: 0.2s;
    
}
.name{
    width: 100px;
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
}  */
nav>.list>ul>li>a{
    text-decoration: none;
    color: black;
    letter-spacing: 0.04rem;
    transition: 0.2s;
}
.list li:nth-of-type(1) {
    flex-grow: 6;
}
nav>.list>ul>li>a:hover{
    color: #294fb9;
    border-bottom: 2px solid #3274d6;
}
nav .list>ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    list-style: none;
    justify-content: right;
    gap: 30px;
    margin-right: 50px;
    margin-top: 0px;
}
.heading{
    position: relative;
    top: 76px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    height: 600px;
    background:linear-gradient(90deg, rgba(31, 123, 209, 0.486), rgba(31, 123, 209, 0.5)), url(https://png.pngtree.com/background/20210712/original/pngtree-paper-cut-creative-texture-plant-background-picture-image_1173212.jpg);
    background-size:cover;
}
.heading .text{
    margin: 0px auto;
    text-align: center;
    position: absolute;
    top: 90px;
    left: 40%;
    font-size: larger;
    color: white;
    font-family: 'helvetica','didot';
}
h1 , h2{
    font-size: 3.2rem;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif ;
}
h2{
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    margin-top: 8px;
    padding-top: 9px;
}
.heading .contact{
    width: 5%;
    position: absolute;
    height: 80px;
    z-index: 2;
    top: 390px;
    right: 200px;
    width: 100%;
}
.social-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    list-style: none;
    justify-content:flex-end;
    gap: 30px;
    margin-right: 50px;
    margin-top: 0px;
    width: 100%;
}
.socials {
    position: relative;
    margin-top: 9rem;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color:   #2f74db;
    background-color: #e7e5ec;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: white;
    background-color: black;
  }
  /*.social-icons a.github:hover {
    background-color: #0e0e0e;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.dev:hover {
    background-color: #070707;
  }
  .social-icons a.instagram:hover {
    background-color: #ee00da;
  } */

.top-button{
    background-color: #fff;
    color: #294fb9;
    z-index: 100;
    margin-right: 20px;
    margin-left: 95%;
    margin-bottom: 50px;
    position:fixed;
    bottom: 3px;
    border-radius: 130px;
}
.top-button:hover{
    background-color: #294fb9;
    color: #fff;
}
/*
.top-button.bt1{
    position: relative;
}
.top-button.bt2{
    position: relative;
}
.top-button.bt3{
    position: relative;
}
.top-button.bt4{
    position: relative;
} */



#about_me{
    position: absolute;
    top: 615px;
    margin: 10px auto;
    padding-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    background-color: #fff;
    height: 460px;
    box-shadow: 0 0 20px 0 rgba(138, 133, 133, 0.8);
}
#about_me p{
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 200;
    color: #000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
#about-me .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
    margin-left: 20px;
  }
#about-me .box-container .box2 p {
    text-transform: none;
    display: inline;
  }
#about-me .box-container .box2 p span {
    color: #011aff;
  }
.resumebtn {
    position: absolute;
    top: 350px;
    right: 140px;
    margin-left: 57rem;
    display: inline;
  }
.resumebtn .btn {
    padding: 1.7rem 3rem;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    background: rgb(31, 123, 209);
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
.resumebtn .btn span {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
.resumebtn .btn i {
    margin-left: 0.3rem;
    margin-right: 0.6rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
.resumebtn .btn:hover {
    background: rgb(11, 28, 44);
    color: #fff;
  }
.resumebtn .btn:hover i {
    transform: translateX(5px);
  }

/*education section */
#education{
    margin: auto;
    background-color:white;
    font-size: larger;
    height: 930px;
    width: 100%;
}
.edhead{
    position: absolute;
    top: 1110px;
    display: block;
    text-align: center;
    width: 100%;
    color:#02080c;
}
.ed{
    height: 270px;
    font-size: 25px;
    width: 30%;
    margin-top: 4px;
    margin-left: 5px;
    background-color: white;
    opacity: 20px;
    padding: 20px 30px;
    border: 3px solid #2980b9;
    position: absolute;
    border-radius: 6px;
    display: block;
}
.ed.left{
    top: 1210px;
    left: 80px;
}
.ed.right{
    top: 1410px;
    right:80px;
}
.ed.left.down{
    top: 1660px;
    left: 80px;
}
.divider{
    position: absolute;
    width: 7px;
    background-color: #2980b9;
    height: 780px;
    top: 1210px;
    margin: 2px auto;
    left: 50vw;
}
.circle{
    border: 3px solid #2980b9;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: white;
}
.circle.first{
    position: absolute;
    top: 1220px;
    left: 46vw;
}
.circle.second{
    position: absolute;
    top: 1420px;
    right: 43vw;
}
.circle.third{
    position: absolute;
    top: 1670px;
    left: 46vw;
}
.ed h3{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ed p{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

.divide{
    width: 100%;
    height: 5px;
    background-color: #2980b9;
    position: absolute;
    margin: 0;
    z-index: 100;
    top: 1990px;
}

#skills{
    position: absolute;
    top: 2060px;
    background-color: #fff;
    /*box-shadow: 0 0 20px 0 rgba(138, 133, 133, 0.8); */
    align-items: center;
    height: 690px;
    width: 100%;
}
.skills{
    height: 650px;
    width: 95%;
    position: relative;
    margin-top: 20px;
    margin: 0px auto;
    align-content: center;
    margin: 4px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
}
.logo{
    height: 570px;
    width: 25%;
    border: 1px solid #fff;
    margin: 0px;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #d1e3f7;
    /*border: 4px solid #2980b9;
    box-shadow: 0 0 15px 0 #d1e3f7; */

} 
#skills-heading{
    height: 100px;
    border: #000;
    border-bottom: #294fb9 ;
    color:#1b1b1d;
}
.logo h2{
    font-size:40px;
    font-weight: 80;
    font-family: 'cursive', 'sans-serif';
}

.logo img{
    height: 100px;
    width: 110px;
    align-self: center;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: auto;
}
.logo p{
    margin: 5px auto;
    font-family: 'monospace'; 
    font-size: 20px;
    padding: 28px;
}

.java{
    content: url(https://onedrive.live.com/embed?resid=f998534de050922f%21761&authkey=%21AEj1taV1Ebl9708&width=325&height=291);
    height: 120px;
}
.python{
    height: 80px;
    content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKrjMTn6tylU3rMcIJ_YZ_M6unwwu6v3u90A&usqp=CAU);
}
.html{
    height: 95px;
    content: url(https://static.vecteezy.com/system/resources/previews/012/216/434/original/code-emblem-blue-hexagon-white-angle-brackets-html-icon-vector.jpg);
}
.css{
    content: url(https://static.vecteezy.com/system/resources/previews/007/194/684/original/css-letter-logo-design-on-black-background-css-creative-initials-letter-logo-concept-css-letter-design-vector.jpg);
    height: 140px;
}

.logo:hover{
    border: 1px solid #2980b9;
}

#projects{
    display: block;
    position: absolute;
    height: 600px;
    width: 100vw;
    top: 2800px;
    text-align: center;
    background-color:#fff;
}
#projects .project{
    height: 550px;
    width: 90%;
    align-items: center;
    background-color:#64c2f8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 28px;
    margin: 5px auto;
    justify-content: center;
    align-content: center;
    margin-bottom: 0px;
}

#projects .project .project-box{
    background-color: white;
    border-radius: 5px 5px 0 0;
    width: 430px;
    height: 480px;
}

#projects .project img{
    height: 250px ;
    width: 430px;
    border-radius: 5px;
    box-shadow: 2px 2px #ffffff;
    border: 6px solid black;
}
#projects .project p{
    margin-top: 0px;
    background-color: #ffffff;
    color:#000;
    font-size: larger;
    font-family:'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif, Times, serif;
    font-size: larger;
}

.button{
    height: 50px;
    width: 190px;
    border: 2px solid #294fb9;
    border-radius: 5px;
    margin: 0 auto;
}
.button a{
    margin: auto;
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 100;
    font-family:'sans-serif', 'Times New Roman', Times, serif;
}
.button a i{
    margin-left: 5px;
}
.button:hover{
    background-color: #bfc1c7;
    color: #fff;
    border: 2px solid #fff;
}

footer{
    margin-top: -5px;
    height: 80px;
    width: 100%;
    background-color: #03335f;
    font: 35px;
    color: white;
    text-align: center;
}
#line{
    width: 60%;
    height: 2px;
    background-color: #bfc1c7;
    margin: 5px;
    margin: 10px auto;
}

#copyright{
    border-top: #e7e5ec;
    margin-top: 20px;
    margin: 20px auto;
}
footer i{
    display: inline;
    margin-right: 3px;
}

